

* {
    box-sizing: border-box;
}

body {
    
    background-image: url("./new-beginning.jpg");
    background-position: center center;
    min-height: 100vh ;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    margin: 0;

}
h1 {
    font-weight: normal;
    font-size: 4rem;
    margin-top: -10rem;
}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 1 2rem;

}

.countdown-container {
    text-align: center;
}

.countdown-container span {
    font-size: 1.3rem;
}